<div *ngIf="product">
  <mat-card class="product-card">
    <mat-card-header>
      <mat-card-title>{{ product.name }}</mat-card-title>
      <mat-card-subtitle>Категория: {{ product.category_name }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="product.img" [alt]="product.name" [title]="product.name">
    <mat-card-content>
      <p>{{ product.description }}</p>
      <div class="price">{{ product.price }}$</div>
      <button mat-raised-button color="accent">Add to card</button>
    </mat-card-content>
  </mat-card>
</div>

