<mat-toolbar class="nav-bar" color="primary" xmlns="http://www.w3.org/1999/html">
  <div class="logo">
    <a routerLink="/">
      <img src="https://orig00.deviantart.net/2479/f/2010/355/1/d/rescue_rangers_logo_by_doctor_g-d35d5pl.png" alt="">
    </a>
  </div>
  <app-main-menu></app-main-menu>
  <app-search></app-search>
  <div class="nb-right">
    <ng-container *ngIf="user; else authButtons">
        Hi, <button mat-raised-button color="accent">{{ user.email }}</button>
        <button mat-button (click)="Logout()">Logout</button>
    </ng-container>
    <ng-template #authButtons>
      <button mat-button (click)="signIn()">Sing In</button>
      <button mat-button (click)="signUp()">Sing Up</button>
    </ng-template>

    <button mat-button routerLink="cart"><div class="bage" *ngIf="cartCount > 0">{{cartCount}}</div>Cart</button>
  </div>
</mat-toolbar>
