<div class="container">
  <h3>Create account.</h3>
  <mat-form-field>
    <input matInput [formControl]="username" placeholder="Username">
  </mat-form-field>
  <mat-form-field>
    <input matInput [formControl]="email" placeholder="Email">
  </mat-form-field>
  <mat-form-field>
    <input matInput [formControl]="password" placeholder="Password">
  </mat-form-field>
  <mat-form-field>
    <input matInput [formControl]="confirm" placeholder="Confirm Password">
  </mat-form-field>
  <button mat-raised-button color="primay" (click)="signup()">Регистрация</button>
</div>
