<div class="example-container mat-elevation-z8">
  <mat-table #table [(dataSource)]="cartList" *ngIf="cartList.length; else notHeaveProducts">

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
      <mat-cell *matCellDef="let element"><a [routerLink]="['/product', element.slug]">{{element.title}}</a></mat-cell>
    </ng-container>

    <!-- Amount Column -->
    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.amount}} </mat-cell>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.price}} </mat-cell>
    </ng-container>

    <!-- Total price Column -->
    <ng-container matColumnDef="total">
      <mat-header-cell *matHeaderCellDef> Total </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.total}} </mat-cell>
    </ng-container>

    <!-- Action price Column -->
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-raised-button color="accent" (click)="delItem(element)">Del from card</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <p *ngIf="total_price">Total price: {{total_price}}$</p>

  <ng-template #notHeaveProducts>
    <mat-card class="product-card">
      <mat-card-content>
        <p>
          Not heave products in cart. Return to <a [routerLink]="['/']">catalog.</a>
        </p>
      </mat-card-content>
    </mat-card>
  </ng-template>
</div>
