.product-card {
  display: inline-block;
  vertical-align: top;
  margin: 5px 0;
  margin-right: 1%;
  width: 15%;
}
.price {
  color: red;
  font-weight: 900;
}
.mat-card-actions {
  display: block;
  margin: 0 auto;

  button {
    display: block;
    width: 100%;
  }
}
