img {
  max-width: 100px;
  height: 100%;
}
.product-card {
  margin: 5px 0;
}
.price {
  color: red;
  font-weight: 900;
}
.body-place {
  .col {
    display: block;
    float: left;

    &-left {
      width: 20%;
    }
    &-right {
      width: 80%;
    }
  }
}
