<div class="body-place">
  <div class="col col-left">
    <mat-list>
      <mat-list-item *ngFor="let category of categoryList">
        <a [routerLink]="['/category', category.slug]">{{category.name}}</a>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="col col-right">
    <mat-form-field>
      <mat-select placeholder="Categories">
        <mat-option *ngFor="let category of categoryList" [value]="category.name">
          {{ category.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Price">
        <mat-option *ngFor="let price of prices" [value]="price.value">
          {{ price.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="ABC">
        <mat-option *ngFor="let alphabet of alphabets" [value]="alphabet.value">
          {{ alphabet.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-paginator [length]="pages"
                   [pageSize]="limit"
                   [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

    <router-outlet></router-outlet>
  </div>
</div>
